<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="robots" content="index, follow">
    <link rel="icon" href="/assets/favicon.ico"> 
    <script src="/assets/js/main.js?v=1.0" defer></script>
    <meta http-equiv="refresh" content="0;url={{ page.redirect_url }}">
    <title>Redirecting to {{ page.redirect_url }}</title>
</head>
<body>
    <img src="//sstatic1.histats.com/0.gif?4705536&101" alt="" style="width:0;height:0;">
</body>
</html>
